
.mQrCode{
    position: fixed;
    right: 10px;
    top: 10px;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 10px;
}

.tips{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px;
    opacity: 0.4;
    #consolePad{
        font-size: 8px;
        margin: 20px;
    }

    #axisPad{
        font-size: 8px;
        margin: 20px;
    }
}

.mbox{
    text-align: center;
    font-size: 24px;

    .txt{
        height: 50px;
        line-height: 50px;
    }

    .mID{
        height: 200px;
        line-height: 200px;
        font-size: 80px;
        font-weight: bolder;
        color: red;
    }

    .console{
        height: 40px;
        width: 300px;
        background-color: #AEBDCC;
    }
}

.ctrBtn{
    position: fixed;
    right: 20px;
    bottom: 300px;
    border: 1px solid;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

//输出canvas
.board{
    font-size: 10px;
    width: 80%;

    figure{
        height: 30px;
        line-height: 30px;

        .boardCtl{
            color: red;
            font-size: 14px;
        }
    }
}