body {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

#wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    //手机显示样式.
    .mbox{
        text-align: center;
        font-size: 24px;
        height: 100%;

        .txt{
            height: 50px;
            line-height: 50px;
        }

        .mID{
            height: 200px;
            font-size: 30px;
            font-weight: bolder;
            color: red;
        }

        .console{
            display: none;
            margin-top: 100px;
            text-align: center;
            height: 40px;
            width: 300px;
            background-color: #AEBDCC;
        }
    }

    .H5{
        background: url('../images/Lv1.png') no-repeat;
        background-size:contain;
        background-position: bottom;
    }

    .IOS{
        background: url('../images/Lv2.png') no-repeat;
        background-size:contain;
        background-position: bottom;
    }
}

#myCanvas{
    width: 500px;
    height: 500px;
    border: red 1px solid;
}

#output{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    text-align: center;
    background: #000;

    .tip{
        margin-top: 20px;
        color: white;
        font-size: 24px;
        height: 30px;
    }
    .board{
        display: inline-block;
        position: relative;
        background: #CCC;
        border: 10px solid grey;
        margin-top: 20px;

        .mQrCode{
            position: absolute;
            right: 0px;
            bottom: 0px;
            border: 5px solid yellowgreen;
        }

        .lao{
            position: absolute;
            right: 0px;
            bottom: 0px;
            img{
                width: 200px;
                height: 200px;
                display: inline-block;
                &::before{
                    display: block;
                    font-size: 100px;
                    position: absolute;
                    content: '好';
                }
                &::after{
                    display: block;
                    font-size: 100px;
                    position: absolute;
                    content: '棒';
                }
            }
        }
    }

    .board + .board{
        margin-left: 50px;
    }

}